
        body {
            background-color: #33b5e5;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        .login-card {
            width: 100%;
            max-width: 450px;
        }

        .btn-login {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px;
        }

        .btn-login:hover {
            background-color: #45a049;
            color: white;
        }