/* GLOBAL */
body {
    background: #29b6f6;
    padding: 12px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

/* WRAPPER */
.app-wrapper {
    height: calc(100vh - 24px);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

/* HEADER */
.app-header {
    height: 56px;
    background: #29b6f6;
    color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

/* CONTENT */
.app-content {
    display: flex;
    height: calc(100vh - 56px - 24px);
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #f4f6f8;              /* nền xám nhạt */
    padding: 20px 16px;
    border-left: 6px solid #29b6f6;
    display: flex;
    flex-direction: column;
}

/* MENU ITEM */
.menu-item {
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: #1f2937;
    font-size: 14px;
    transition: all 0.2s ease;
    margin-bottom: 6px;
}

/* HOVER */
.menu-item:hover {
    background-color: #e3f2fd;
}

/* ACTIVE */
.menu-item.active {
    background-color: #dbeafe;
    font-weight: 600;
}

/* RIGHT CONTENT */
.content-right {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling */
}
